<p class="opacity-60">imperative Search Filter</p>

<input [formControl]="searchField" 
class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 
dark:focus:border-blue-500" placeholder="search Client"
/>
<div>
    <button (click)="changeClients()" class="rounded-md border-l-blue-950 bg-orange-300 px-4 py-2 hover:bg-red-200">change list</button>
  </div>
  <div>
    <div *ngFor="let client of filteredClients">
      => {{client.firstName}} {{client.lastName}}
    </div>
  </div>
