<div class="flex justify-start gap-5 w-[90%] m-auto mt-5">

  <button class="rounded-md border-l-blue-950 bg-orange-300 px-4 py-2 hover:bg-red-200" (click)="handleClick('Imperative')">Imperative</button>
  <button class="rounded-md border-l-blue-950 bg-orange-300 px-4 py-2 hover:bg-red-200" (click)="handleClick('Reactive')">Reactive</button>

</div>

<div class="w-[90%] m-auto mt-4">
  <div *ngIf="programming === 'Imperative'" >
    <app-imperative></app-imperative>
  </div>
  <div *ngIf="programming === 'Reactive'">
    <app-reactive></app-reactive>
  </div>
</div>